<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результат</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
        <img src="/static/img/min1.png">
        <h1>Фильтрация изображений животных</h1>
</header>

<img width="300px" src="../{{ pth }}">
<br><br>
{{res}}


<footer>
        <p>&copy; 2024 Министерство природных ресурсов и экологии </p>
</footer>
</body>
</html>